.localisation {
	padding: $padding-auto;
	@include flex-center;
	background-color: $dark-gray;
	&__icon {
		padding-right: 10px;
	}
	&__searchbar {
		width: 150px;
		cursor: pointer;
		border: none;
		font-size: 15px;
		background-color: $dark-gray;
		font-family: $font-text;
		&::placeholder {
			opacity: 1;
		}
	}
}
