.btn {
	border: none;
	padding: $padding-auto;
	border-radius: 15px;
	margin: $margin-auto;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin: $margin-auto 0 $margin-auto 0;
}

.btn-gradient {
	@include gradient-button;
	font-size: 15px;
	border-radius: 25px;
	width: 60%;
}
