.like {
	.dislike-icon {
		color: $color-primary;
		position: relative;
		opacity: 1;
		transition: all 100ms;
		&:hover {
			opacity: 0;
		}
	}

	.like-icon {
		color: $color-primary;
		position: relative;
		left: -22px;
		opacity: 0;
		transition: all 100ms;
		&:hover {
			opacity: 1;
		}
	}
}
