*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 15px;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

h4 {
  font-size: 12px;
  font-weight: 200;
  text-align: left;
}

.title {
  padding: 45px 15px 15px 15px;
}

.title-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-restaurant h1 {
  font-family: "Shrikhand", cursive;
}

.title-category {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  color: #353535;
  border-bottom: 3px solid #99e2d0;
  width: 30px;
  height: 20px;
}

.title-new {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 0.7;
  font-size: 18px;
  padding-bottom: 15px;
}

.btn {
  border: none;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin: 15px 0 15px 0;
}

.btn-gradient {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 15px;
  border-radius: 25px;
  width: 60%;
}

@media (min-width: 1200px) {
  .btn-gradient {
    width: 30%;
  }
}

@media (min-width: 600px) {
  .btn-gradient {
    width: 30%;
  }
}

@media (min-width: 900px) {
  .btn-gradient {
    width: 30%;
  }
}

.like-icon:hover {
  background-color: red;
  color: red;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: #353535;
}

.footer__nav {
  color: white;
}

.footer__logo {
  max-width: 30%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer__list {
  padding-top: 15px;
}

.footer__list-item {
  padding-bottom: 10px;
}

.footer__list-item > :nth-child(n + 2) {
  font-weight: 600;
}

.footer__list-item > a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
}

.footer__icon {
  padding-right: 10px;
}

.footer__icon--first {
  padding-right: 18px;
}

.header {
  margin-bottom: 6px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.localisation {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
}

.localisation__icon {
  padding-right: 10px;
}

.localisation__searchbar {
  width: 150px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
}

.localisation__searchbar::-webkit-input-placeholder {
  opacity: 1;
}

.localisation__searchbar:-ms-input-placeholder {
  opacity: 1;
}

.localisation__searchbar::-ms-input-placeholder {
  opacity: 1;
}

.localisation__searchbar::placeholder {
  opacity: 1;
}

.explorer {
  background-color: #f6f6f6;
  padding: 45px 15px 45px 15px;
  text-align: center;
}

.fonctionnement {
  padding-bottom: 25px;
  counter-reset: counterFonctionnement;
}

.fonctionnement__step {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__button {
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
  width: 250px;
  position: relative;
}

.fonctionnement__button::before {
  counter-increment: counterFonctionnement;
  content: counter(counterFonctionnement);
  color: white;
  background-color: #9356dc;
  border-radius: 100px;
  font-size: 12px;
  padding: 3px 7px 3px 7px;
  left: -10px;
  position: absolute;
}

.fonctionnement__button:hover {
  background-color: #e9d8fd;
}

.fonctionnement__button:hover .fonctionnement__icon {
  color: #9356dc;
}

.fonctionnement__icon {
  padding-right: 15px;
}

.restaurant {
  background-color: #f6f6f6;
}

.card-home {
  max-width: 90%;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  position: relative;
}

.card-home__title-new {
  background-color: #99e2d0;
  color: #008766;
  padding: 8px 15px 8px 15px;
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.card-home__banner {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 185px;
  border-radius: 15px 15px 0 0;
}

.card-home__content {
  margin: 15px;
  color: black;
}

.card-home__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  .container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container-flex > a {
    width: 50%;
    margin-bottom: 20px;
  }
}

main {
  background-color: #eaeaea;
  position: relative;
  top: 0;
  left: 0;
}

.banner {
  max-width: 100%;
}

.banner__image {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 1200px) {
  .banner {
    height: 350px;
  }
}

.container {
  background-color: #eaeaea;
  position: relative;
  top: -50px;
  left: 0px;
  right: 0px;
  border-radius: 35px 35px 0 0;
  padding: 30px;
}

.commande {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */