h1 {
	@include title;
}

h3 {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
}

h4 {
	font-size: 12px;
	font-weight: 200;
	text-align: left;
}
.title {
	padding: $padding-auto * 3 $padding-auto $padding-auto $padding-auto;
}

.title-restaurant {
	display: flex;
	justify-content: space-between;
	h1 {
		font-family: $font-title;
	}
}

.title-category {
	font-family: $font-text;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
	color: $black-gray;
	border-bottom: 3px solid $color-tertiary;
	width: 30px;
	height: 20px;
}

.title-new {
	font-family: $font-text;
	font-weight: 600;
}

p {
	@include description;
}
