main {
	background-color: $dark-gray;
	position: relative;
	top: 0;
	left: 0;
}

.header {
	.back-button {
		text-decoration: none;
		color: black;
		position: absolute;
		left: 25px;
		padding-top: 10px;
	}
}

.banner {
	max-width: 100%;

	&__image {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		@include desktop {
			object-fit: cover;
			max-height: 350px;
			object-position: 50% 50%;
		}
	}
}

.container {
	background-color: $dark-gray;
	position: relative;
	top: -50px;
	left: 0px;
	right: 0px;
	border-radius: 35px 35px 0 0;
	padding: $padding-auto * 2;
}

.commande {
	padding: $padding-auto;
	@include flex-center;
}

.menu-plat {
	background-color: $dark-gray;
	width: 280px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	padding: $padding-auto;
	margin: 1rem 0;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	.menu {
		flex: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		h3 {
			text-overflow: ellipsis;
			overflow: hidden;
		}
		h4 {
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.menu-price {
		font-weight: 700;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding-left: 0.5rem;
	}

	.menu-check__btn {
		background-color: $color-tertiary;
		margin: -1rem -5rem -1rem 1rem;
		width: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: 0.5s;
	}
	&:hover .menu-check__btn {
		margin-right: -1rem;
	}

	.check-icon {
		width: 1.6rem;
		color: white;
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(180deg);
		transition-duration: 0.5s;
	}
	&:hover .check-icon {
		transform: rotate(0);
	}
}
