main {
	background-color: $dark-gray;
	position: relative;
	top: 0;
	left: 0;
}

.banner {
	max-width: 100%;

	&__image {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
	}
	@include desktop {
		height: 350px;
	}
}

.container {
	background-color: $dark-gray;
	position: relative;
	top: -50px;
	left: 0px;
	right: 0px;
	border-radius: 35px 35px 0 0;
	padding: $padding-auto * 2;
}

.commande {
	padding: $padding-auto;
	@include flex-center;
}
