@mixin flex-center {
	display: flex;
	justify-content: center;
}

@mixin shadowHeader {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

// text

@mixin title {
	font-family: $font-text;
	font-weight: 600;
	font-size: 24px;
	padding-bottom: $padding-auto;
}

@mixin description($sizeValue: 18px) {
	font-family: $font-text;
	font-weight: 300;
	opacity: 0.7;
	font-size: $sizeValue;
	padding-bottom: $padding-auto;
}

@mixin gradient-button($degrees: 170deg) {
	background: linear-gradient(
		$degrees,
		$color-secondary 0%,
		$color-primary 100%
	);
	color: white;
}
